.select-county-p,
.select-family-type-p {
  font-weight: bold;
}

.county-dropdown {
  margin-top: 1em;
}

.county-dropdown-toggle {
  margin-left: 0.5em;
}

.family-types-wrapper {
  margin-top: 1.5em;
}

.family-type-div {
  margin-bottom: 1.5em;
}

.family-type-radio {
  display: none;
}

.family-type-radio:checked + .family-type-label {
  background-color: #f0edc8;
}

.family-type-label img {
  max-height: 235px;
}

@media only screen and (max-width: 480px) {
  .family-type-div {
    margin-bottom: 0;
  }
  .family-type-div p {
    font-size: 1.25em;
  }
  .family-type-label img {
    max-height: 100px;
  }
}

.family-type-hr {
  font-size: 2em;
  font-weight: lighter;
  padding-left: 1em;
  padding-right: 1em;
}

/* TODO: Do something less hacky to override Bootstrap styles ? */
#label-single-adult,
#label-single-parent,
#label-two-parents {
  padding: 1em;
}
