/* TODO: webpack font/file loader*/
@font-face {
  font-family: 'TTChocolates';
  src: url('ttchocolates-regular-webfont.eot');
  src: url('ttchocolates-regular-webfont.ttf') format('truetype'),
       url('ttchocolates-regular-webfont.woff') format('woff'),
       url('ttchocolates-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Darwin';
  src: url('Darwin-ALT-Regular-webfont.eot');
  src: url('Darwin-ALT-Regular-webfont.ttf') format('truetype'),
       url('Darwin-ALT-Regular-webfont.woff') format('woff'),
       url('Darwin-ALT-Regular-webfont.woff2') format('woff2');
}
