.slider-wrapper {
  margin: 0 auto;
  width: 600px;
  max-width: 90%;
}

.indicator-wrapper {
  margin: 0 auto;
  width: 600px;
  max-width: 80%;
}

.rc-indicator-slider,
.rc-slider {
  position: relative;
  width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.rc-indicator-slider *,
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.rc-indicator-slider-track,
.rc-slider-track {
  position: absolute;
  left: 0;
  border-radius: 6px;
  background: transparent;
  z-index: 1;
}
.rc-indicator-slider-mark,
.rc-slider-mark {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  font-size: 12px;
  z-index: 3;
}
.rc-indicator-slider-mark-text,
.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
}
.rc-indicator-slider-mark-text-active,
.rc-slider-mark-text-active {
  color: #666;
}
.rc-indicator-slider-step,
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
  z-index: 1;
}
.rc-indicator-slider-dot,
.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
}
.rc-indicator-slider-dot:first-child,
.rc-slider-dot:first-child {
  margin-left: -4px;
}
.rc-indicator-slider-dot:last-child,
.rc-slider-dot:last-child {
  margin-left: -4px;
}
.rc-indicator-slider-dot-active,
.rc-slider-dot-active {
  border-color: #1ca6e4;
}
.rc-indicator-slider-disabled,
.rc-slider-disabled {
  background-color: #e9e9e9; }
.rc-indicator-slider-disabled .rc-slider-track,
.rc-slider-disabled .rc-slider-track {
  background-color: #ccc;
}
.rc-indicator-slider-disabled .rc-slider-handle, .rc-indicator-slider-disabled .rc-slider-dot,
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  background-color: #fff;
  cursor: not-allowed;
}
.rc-indicator-slider-disabled .rc-slider-mark-text, .rc-indicator-slider-disabled .rc-slider-dot,
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}

.rc-indicator-slider {
  height: 25px;
}
.rc-indicator-slider-track {
  height: 33px;
}
.rc-indicator-slider-handle {
  position: absolute;
  background-color: black;
  width: 3px;
  height: 25px;
  cursor: default;
  z-index: 5;
}
.rc-indicator-slider-handle::before, .rc-indicator-slider-handle::after {
  content: "";
  position: relative;
  display: block;
  left: -4px;
  z-index: 5;
}
.rc-indicator-slider-handle::before {
  border-top: 8px solid black;
  border-left: 6.66667px solid transparent;
  border-right: 6.66667px solid transparent;
  top: -5px;
}
.rc-indicator-slider-handle::after {
  border-bottom: 8px solid black;
  border-left: 6.66667px solid transparent;
  border-right: 6.66667px solid transparent;
  top: 15px;
}
.rc-indicator-slider-handle:hover {
  border-color: #1ca6e4;
}
.rc-indicator-slider-handle-active:active {
  border-color: #1ca6e4;
  box-shadow: 0 0 5px #1ca6e4;
}
.rc-indicator-slider-section {
  display: inline-block;
  height: 100%;
  width: 25%;
}
.rc-indicator-slider-section-1 {
  background-color: #b5441d;
}
.rc-indicator-slider-section-2 {
  background-color: #dc6632;
}
.rc-indicator-slider-section-3 {
  background-color: #eadd69;
}
.rc-indicator-slider-section-4 {
  background-color: #eee597;
}

.rc-slider {
  height: 5px;
  background: #f0f0f0;
  /* TODO: break out $sliderPrefixClass */
}
.rc-slider-track {
  height: 5px;
}
.rc-slider-handle {
  position: absolute;
  background-color: black;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  top: -5px;
}
.rc-slider-handle:hover {
  border-color: #1ac6e4;
}
.rc-slider-handle-active:active {
  border-color: #1ac6e4;
  box-shadow: 0 0 5px #1ac6e4;
}
.rc-slider-mark {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  font-size: 12px;
  z-index: 3;
}
.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
}
.rc-slider-mark-text-active {
  color: #666;
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
  z-index: 1;
}
.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
}
.rc-slider-dot:first-child {
  margin-left: -4px;
}
.rc-slider-dot:last-child {
  margin-left: -4px;
}
.rc-slider-dot-active {
  border-color: #1ca6e4;
}
.rc-slider-disabled {
  background-color: #e9e9e9;
}
.rc-slider-disabled .rc-slider-track {
  background-color: #ccc;
}
.rc-slider-disabled .rc-slider-handle, .rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  background-color: #fff;
  cursor: not-allowed;
}
.rc-slider-disabled .rc-slider-mark-text, .rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}

.rc-slider-vertical {
  width: 4px;
  height: 100%;
}
.rc-slider-vertical .rc-slider-track {
  bottom: 0;
  width: 4px;
}
.rc-slider-vertical .rc-slider-handle {
  position: absolute;
  margin-left: -5px;
  margin-bottom: -7px;
}
.rc-slider-vertical .rc-slider-mark {
  top: 0;
  left: 10px;
  height: 100%;
}
.rc-slider-vertical .rc-slider-step {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-dot {
  left: 2px;
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:first-child {
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:last-child {
  margin-bottom: -4px;
}

.rc-slider-tooltip-zoom-down-enter, .rc-slider-tooltip-zoom-down-appear {
  animation-duration: .3s;
  animation-fill-mode: both;
  display: block !important;
  animation-play-state: paused;
}

.rc-slider-tooltip-zoom-down-leave {
  animation-duration: .3s;
  animation-fill-mode: both;
  display: block !important;
  animation-play-state: paused;
}

.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active, .rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  animation-name: rcSliderTooltipZoomDownIn;
  animation-play-state: running;
}

.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  animation-name: rcSliderTooltipZoomDownOut;
  animation-play-state: running;
}

.rc-slider-tooltip-zoom-down-enter, .rc-slider-tooltip-zoom-down-appear {
  transform: scale(0, 0);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.rc-slider-tooltip-zoom-down-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }
  100% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
}

@keyframes rcSliderTooltipZoomDownOut {
  0% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }
}

.rc-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 4;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.rc-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.rc-tooltip-hidden {
  display: none;
}
.rc-tooltip-placement-top {
  padding: 4px 0 8px 0;
}
.rc-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #555;
  text-align: center;
  text-decoration: none;
  background-color: #595959;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9;
}
.rc-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-tooltip-placement-top .rc-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #595959;
}
