$sliderPrefixClass: rc-slider;
$indicatorPrefixClass: rc-indicator-slider;
$disabledColor: #ccc;
$border-radius-base: 6px;
$primary-color: #2db7f5;
$tooltip-color: #555;
$tooltip-bg: tint(#666, 4%);
$tooltip-arrow-width: 4px;
$tooltip-distance: $tooltip-arrow-width+4;
$tooltip-arrow-color: $tooltip-bg;
$ease-out-quint      : cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint       : cubic-bezier(0.755, 0.05, 0.855, 0.06);
$slider-height: 5px;
$indicator-slider-height: 25px;
$caret-base: 8px;
$caret-side-ratio: 1.2;
$lightYellow: #EEE597;
$darkYellow: #EADD69;
$lightOrange: #DC6632;
$darkOrange: #B5441D;


@mixin borderBox()
{
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //  remove tap highlight color for mobile safari

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //  remove tap highlight color for mobile safari
  }
}
.slider-wrapper {
  width: 300px;
  margin: 0 auto;
}
.indicator-wrapper {
  margin: 0 auto;
  width: 600px;
}
.#{$indicatorPrefixClass},
.#{$sliderPrefixClass} {
  position: relative;
  width: 100%;
  border-radius: $border-radius-base;

  @include borderBox();

  &-track {
    position: absolute;
    left: 0;
    border-radius: $border-radius-base;
    background: transparent;
    z-index: 1;
  }

  &-mark {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    font-size: 12px;
    z-index: 3;
  }

  &-mark-text {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #999;

    &-active {
      color: #666;
    }
  }

  &-step {
    position: absolute;
    width: 100%;
    height: 4px;
    background: transparent;
    z-index: 1;
  }

  &-dot {
    position: absolute;
    bottom: -2px;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    border: 2px solid #e9e9e9;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
    // vertical-align: middle;
    &:first-child {
      margin-left: -4px;
    }
    &:last-child {
      margin-left: -4px;
    }
    &-active {
      border-color: tint($primary-color, 50%);
    }
  }

  &-disabled {
    background-color: #e9e9e9;

    .#{$sliderPrefixClass}-track {
      background-color: $disabledColor;
    }

    .#{$sliderPrefixClass}-handle, .#{$sliderPrefixClass}-dot {
      border-color: $disabledColor;
      background-color: #fff;
      cursor: not-allowed;
    }

    .#{$sliderPrefixClass}-mark-text, .#{$sliderPrefixClass}-dot {
      cursor: not-allowed!important;
    }
  }
}

.#{$indicatorPrefixClass} {
  height: $indicator-slider-height;

  &-track {
    height: $indicator-slider-height + $caret-base;
  }

  &-handle {
    position: absolute;
    background-color: black;
    width: 3px;
    height: $indicator-slider-height;
    cursor: default;
    z-index: 5;
    &::before,
    &::after {
      content: "";
      position: relative;
      display: block;
      left: -4px;
      z-index: 5;
    }
    &::before {
      border-top: $caret-base solid black;
      border-left: $caret-base/$caret-side-ratio solid transparent;
      border-right: $caret-base/$caret-side-ratio solid transparent;
      top: -5px;
    }
    &::after {
      border-bottom: $caret-base solid black;
      border-left: $caret-base/$caret-side-ratio solid transparent;
      border-right: $caret-base/$caret-side-ratio solid transparent;
      top: 15px;
    }
    &:hover {
      border-color: tint($primary-color, 20%);
    }
    &-active {
      &:active {
        border-color: tint($primary-color, 20%);
        box-shadow: 0 0 5px tint($primary-color, 20%);
      }
    }
  }

  &-section {
    display: inline-block;
    height: 100%;
    width: 25%;
    &-1 {
      background-color: $darkOrange;
    }
    &-2 {
      background-color: $lightOrange;
    }

    &-3 {
      background-color: $darkYellow;
    }

    &-4 {
      background-color: $lightYellow;
    }
  }
}

.#{$sliderPrefixClass} {
  height: $slider-height;
  background: #f0f0f0;

  &-track {
    height: $slider-height;
  }

  &-handle {
    $handleDimension: 16px;
    position: absolute;
    background-color: black;
    width: $handleDimension;
    height: $handleDimension;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
    top: -5px;

    &:hover {
      border-color: tint($primary-color, 20%);
    }
    &-active {
      &:active {
        border-color: tint($primary-color, 20%);
        box-shadow: 0 0 5px tint($primary-color, 20%);
      }
    }
  }

  &-mark {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    font-size: 12px;
    z-index: 3;
  }

  &-mark-text {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #999;

    &-active {
      color: #666;
    }
  }

  &-step {
    position: absolute;
    width: 100%;
    height: 4px;
    background: transparent;
    z-index: 1;
  }

  &-dot {
    position: absolute;
    bottom: -2px;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    border: 2px solid #e9e9e9;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
    // vertical-align: middle;
    &:first-child {
      margin-left: -4px;
    }
    &:last-child {
      margin-left: -4px;
    }
    &-active {
      border-color: tint($primary-color, 50%);
    }
  }

  &-disabled {
    background-color: #e9e9e9;

    .#{$sliderPrefixClass}-track {
      background-color: $disabledColor;
    }

    .#{$sliderPrefixClass}-handle, .#{$sliderPrefixClass}-dot {
      border-color: $disabledColor;
      background-color: #fff;
      cursor: not-allowed;
    }

    .#{$sliderPrefixClass}-mark-text, .#{$sliderPrefixClass}-dot {
      cursor: not-allowed!important;
    }
  }
}

.#{$sliderPrefixClass}-vertical {
  width: 4px;
  height: 100%;
  .#{$sliderPrefixClass} {
    &-track {
      bottom: 0;
      width: 4px;
    }

    &-handle {
      position: absolute;
      margin-left: -5px;
      margin-bottom: -7px;
    }

    &-mark {
      top: 0;
      left: 10px;
      height: 100%;
    }

    &-step {
      height: 100%;
      width: 4px;
    }

    &-dot {
      left: 2px;
      margin-bottom: -4px;
      &:first-child {
        margin-bottom: -4px;
      }
      &:last-child {
        margin-bottom: -4px;
      }
    }
  }
}

@mixin motion-common()
{
  animation-duration: .3s;
  animation-fill-mode: both;
  display: block !important;
}

@mixin make-motion($className, $keyframeName)
{
  .#{$className}-enter, .#{$className}-appear {
    @include motion-common();
    animation-play-state: paused;
  }
  .#{$className}-leave {
    @include motion-common();
    animation-play-state: paused;
  }
  .#{$className}-enter.#{$className}-enter-active, .#{$className}-appear.#{$className}-appear-active {
    animation-name: #{"#{$keyframeName}In"};
    animation-play-state: running;
  }
  .#{$className}-leave.#{$className}-leave-active {
    animation-name: #{"#{$keyframeName}Out"};
    animation-play-state: running;
  }
}
@mixin zoom-motion($className, $keyframeName)
{
  @include make-motion($className, $keyframeName);
  .#{$className}-enter, .#{$className}-appear {
    transform: scale(0, 0); // need this by yiminghe
    animation-timing-function: $ease-out-quint;
  }
  .#{$className}-leave {
    animation-timing-function: $ease-in-quint;
  }
}
@include zoom-motion(rc-slider-tooltip-zoom-down, rcSliderTooltipZoomDown);

@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }
  100% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
}

@keyframes rcSliderTooltipZoomDownOut {
  0% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }
}

.rc-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 4;
  visibility: visible;

  @include borderBox();

  &-hidden {
    display: none;
  }

  &-placement-top {
    padding: $tooltip-arrow-width 0 $tooltip-distance 0;
  }

  &-inner {
    padding: 6px 2px;
    min-width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 1;
    color: $tooltip-color;
    text-align: center;
    text-decoration: none;
    background-color: $tooltip-bg;
    border-radius: $border-radius-base;
    box-shadow: 0 0 4px #d9d9d9;
  }

  &-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  &-placement-top &-arrow {
    bottom: $tooltip-distance - $tooltip-arrow-width;
    left: 50%;
    margin-left: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: $tooltip-arrow-color;
  }
}

/* EXTRA DEMO STYLES */
.demo-root {
  font-family: sans-serif;
  h1 {
    text-align: center;
  }
  p {
    margin-left: 50px;
  }
  p.description {
    margin-top: 2em;
  }
}
