
/* COLORS */
$lightYellow: #eee597;
$darkYellow: #eadd69;
$lightOrange: #dc6632;
$darkOrange: #b5441d;
$lightGreen: #b8dfab;
$darkGreen: #669776;
$lightBlue: #73c4d2;

/* GLOBAL STYLES */
header, section, footer {
  padding: 1em;
}

p {
  margin: 0;
}

/* HEADER */
.main-title {
  margin: 0;
}

header {
  color: white;
  background-color: $lightBlue;
}

h1 {
  font-size: 1.3em;
}

/* SECTION 1: SELECT FAMILY AND COUNTY */
.family-and-county-section {
  height: 100%;
  background-color: $lightGreen;
}

.select-county-p,
.select-family-type-p {
  font-weight: bold;
}
// menu
.county-dropdown {
  margin-top: 1em;
}

// dropdown button
.county-dropdown-toggle {
  margin-left: 0.5em;
}

.family-types-wrapper {
  margin-top: 1.5em;
}

.family-type-div {
  margin-bottom: 1.5em;
}

/* TODO: Do something less hacky to override Bootstrap styles */
#label-single-adult,
#label-single-parent,
#label-two-parents {
  padding: 0;
}

/* SLIDER (main styles in rc-slider.scss) */

.slider-wrapper {
  width: 100%;
  margin-bottom: 1.5em;
}
