
/* COLORS */
$lightYellow: #eee597;
$darkYellow: #eadd69;
$lightOrange: #dc6632;
$darkOrange: #b5441d;
$lightGreen: #b8dfab;
$darkGreen: #669776;
$lightBlue: #73c4d2;

/* GLOBAL STYLES */
header, footer {
  padding: 1em;
}

section {
  padding: 2em;
}

p {
  margin: 0;
  text-indent: 1em;
}

/* INDICATOR */
.indicator-blocks {
  margin-top: 1em;
  margin-bottom: 1em;
  min-width: 250px;
}
.ind-block {
  box-sizing: border-box;
  display: inline-block;
  height: 1.5em;
  width: 25%;
}
.block-1 {
  background-color: $lightYellow;
}
.block-2 {
  background-color: $darkYellow;
}
.block-3 {
  background-color: $lightOrange;
}
.block-4 {
  background-color: $darkOrange;
}
/* SLIDER (main styles in rc-slider.scss) */

.slider-wrapper {
  width: 90%;
  margin-bottom: 1.5em;
}

/* HEADER */
.main-title {
  margin: 0;
}

header {
  color: white;
  background-color: $lightBlue;
}

h1 {
  font-size: 1.3em;
}

h2 {
  margin-top: 0;
  font-size: 1.1em;
  font-weight: bold;
}

/* SECTION 1: SELECT FAMILY AND COUNTY */
.family-and-county-section {
  height: 100%;
  background-color: $lightGreen;
}

.select-county-p,
.select-family-type-p {
  font-weight: bold;
}
// menu
.county-dropdown {
  margin-top: 1em;
}

// dropdown button
.county-dropdown-toggle {
  margin-left: 0.5em;
}

.family-types-wrapper {
  margin-top: 1.5em;
}

.family-type-div {
  margin-bottom: 1.5em;
}

/* TODO: Do something less hacky to override Bootstrap styles */
#label-single-adult,
#label-single-parent,
#label-two-parents {
  padding: 0;
}


/* SECTION 2: DAY-TO-DAY */
.day-to-day-section {
  background-color: $darkGreen;
}


/* SECTION 3: FREE AND REDUCED LUNCH */
.lunch-section {
  background-color: $lightBlue;
}
