/* based on https://github.com/fraserxu/react-dropdown/blob/master/style.css */

.Dropdown-root {
  position: relative;
  width: 33%;
  min-width: 250px;
  font-size: 1.8em;
}

@media only screen and (max-width: 480px) {
  .Dropdown-root {
    width: 250px;
  }
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  -moz-box-shadow:    inset 0 0 8px #b8dfab;
  -webkit-box-shadow: inset 0 0 8px #b8dfab;
  box-shadow:         inset 0 0 8px #b8dfab;
  color: #5b5b5b;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: inset 0 0 8px #669776;
}

.Dropdown-arrow {
  display: block;
  position: absolute;
  content: ' ';
  border-color: #669776 transparent transparent;
  border-style: solid;
  border-width: 9px 9px 0;
  height: 0;
  margin-top: -ceil(2.5);
  right: 15px;
  top: 20px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #669776;
  border-width: 0 9px 9px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  display: block;
  box-sizing: border-box;
  color: #5b5b5b;
  opacity: 0.9;
  cursor: pointer;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
