@font-face {
  font-family: 'TTChocolates';
  src: url('ttchocolates-regular-webfont.eot');
  src: url('ttchocolates-regular-webfont.ttf') format('truetype'),
       url('ttchocolates-regular-webfont.woff') format('woff'),
       url('ttchocolates-regular-webfont.woff2') format('woff2');
}
