/* GLOBAL STYLES */
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  background-color: #fbfaf0;
  min-height: 100vh;
}

section {
  padding: 2em;
}

.select-county-heading {
  padding-left:1.5em;
}

.section-heading,
.family-type-hr {
  font-family: 'Oswald', 'Roboto', Arial, sans-serif;
  font-weight: 300;
}



p {
  font-size: 1.6em;
  margin: 0;
  color: #656565;
}

p.hunger-data-hint {
  font-size: 1em;
  font-weight: normal;
  width: 90%; /* matches snugget */
  margin: 0 auto; /* matches snugget */
}

/* HEADER */
nav .container-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar {
  z-index: 1;
}

.navbar-nav {
  margin-right: 0.3em;
}

.navbar-nav > li > a {
  color: #5b5b5b;
  line-height: normal;
}

.nav-item-separator span {
  display: inline-block;
  height: 10px;
  width: 9px;
  margin-bottom: -17px;
  background-color: #5b5b5b;
}

.navbar-default {
  border: none;
  background-color: #c9dacf;
  padding: 0.5em;
}

.navbar-default .glyphicon-stop {
  position: relative;
  top: 1.2em;
  background-color: #5b5b5b;
  font-size: 0.4em;
  margin-left: 5px;
  margin-right: 5px;
}

.nav-item {
  font-size: 1.4em;
}

@media only screen and (max-width: 825px) {
  .nav-item {
    font-size: 1.1em;
  }
  .nav-item-separator {
    visibility: hidden;
  }
}

header {
  height: 3em;
  font-size: 2rem;
  color: #5b5b5b;
  background-color: #c9dacf;
  box-shadow: 0 12px 2px 0 #999;
}

.ho-logo-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.ho-logo-wrapper p {
  font-size: 1.1em;
  padding-top: 5px;
}

@media only screen and (max-width: 768px) {
  .navbar-text {
    display: none;
  }
  .ho-logo-wrapper {
    margin-left: 5px;
  }
}
.dynamic-text {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: #669776;
}

.benefits-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 3em;
}

.snap-benefits-text,
.school-benefits-text {
  font-size: 1em;
  text-align: center;
}

.snap-benefits-text span {
  display: inline-block;
  min-width: 110px;
  text-align: left;
}

.school-benefits-text {
  margin-left: 3em;
}

@media only screen and (max-width: 480px) {
  p.placeholder {
    display: none;
  }
  .benefits-row p {
    margin: 0;
    padding: 0;
  }
}
/* SECTION 4: HOUSING */
.can-afford-housing {
  border: 1px solid #5b5b5b;
  background-color: #fff;
  padding: 0.5em;
  margin: 0 auto;
  width: 90%;
}

.can-afford-housing h3 {
  padding-left: 1em; /* matching p text-indent */
  font-size: 2.3em;
  font-weight: bold;
}

.afford-housing-yes h3 {
  color: #669776;
}

.afford-housing-no h3 {
  color: #b5441d;
}

/* SECTION 5: STATE MAP VIEW */
.map-row {
  margin-top: 1em;
}

.map-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}

.fine-print {
  max-width: 90%;
  margin: 0 auto;
  font-size: 0.9em;
}
/* FOOTER */
footer {
  font-size: 2rem;
  padding: 1em;
  color: #5b5b5b;
  background-color: #c9dacf;
}

.ho-logo {
  max-height: 3em;
}

.ho-logo-gray {
  max-height: 50px;
}


/* GENERAL */
.section-heading {
  font-size: 2.4em;
  padding-bottom:.25em;
  padding-top:1em;
}

@media only screen and (max-width: 480px) {
  .section-heading {
    font-size: 1.8em;
  }
}

/* TEST STATS */
.test-stats {
  display: none;
  max-width: 90%;
  margin: 10px auto;
}
.test-stats p {
  display: inline;
  margin-left: 20px;
  font-size: 1.2em;
}

/* STICKY STYLE MODIFICATIONS */
.sticky {
  background-color: #fff;
  padding: 10px 30px 40px 14px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  z-index: 100;
}

.sticky .slider-self-wrapper {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1em;
  padding-left: 2em;
}

.sticky .slider-wage-box {
  margin-bottom: 10px;
}



/* SLIDER (main styles in rc-slider.css) */
.slider-section {
  margin-bottom: 1.5em;
}
.slider-with-heading {
  margin: 0 auto;
  width: 90%;
}

.slider-wage-box {
  display: inline-block;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #669776;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .slider-section {
    margin-bottom: 0;
  }
  .slider-with-heading {
    margin: 0;
    width: 100%;
  }
}

.slider-self-wrapper {
  width: 100%;
  background-color: #fff;
  padding: 8em 3em;
  padding-top: 5em;
  padding-bottom: 9em;
  border: 1px solid #000;

}

@media only screen and (max-width: 480px) {
  .slider-self-wrapper {
    padding: 1em 2em 2.75em;
  }
  .slider-wage-box {
    margin-bottom: 10px;
  }
}

/* HOUSING */
.can-afford-housing h3 {
  font-weight: bold;
}

/* MAP */
.map-toggle-btn {
  display: block;
  margin: 10px auto;
}

/* LOGO-MISSION */
.OHE-logo {
  max-height: 20em;
  padding-top:2em;
  padding-bottom:2em;
}

.mission-statement {
  background-color: #fff;
  box-shadow: 0 0 5px 0 #000;
}

.cover-text {
  text-align:justify;
  padding-right:3.75em;
  font-size:1.25em;
  border:none;
}

.apple-girl {
  max-height: 35em;
}

/* BarChart*/
.bar-chart-section {
  border: 1px solid #656565;
    background-color: #eee;
    padding: 1.5em;
    margin: 25px auto;
    width: 95%;
    border-radius:3px;
}

/* OTHER PAGES */
.hunger-page-root {
  margin: 60px auto 0 auto;
  max-width: 95%;
}

.hunger-page-root p {
  margin-bottom: 1em;
}

.team-list {
  list-style: none;
}
.team-list li {
  font-size: 1.25em;
  margin: 12px 0 12px 0;
}
.team-list span {
  margin: 12px;
}

.deep-dive-source-list {
  list-style: none;
}

.deep-dive-source-list li {
  margin: 10px;
}
