.donut-dynamic-text {
  font-family: 'Signika', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: #669776;
}

.donut-chart-root {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.donut-chart-root p {
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .donut-chart-root {
    flex-wrap: wrap;
  }
  .donut-chart-root p {
    text-align: center;
  }
}
