.snugget-root {
  border: 1px solid #5b5b5b;
  background-color: #fff;
  padding: 0.5em;
}

.hunger-snugget-heading {
  padding-left: 1em; /* matching p text-indent */
  font-size: 2.3em;
  font-weight: bold;
  color: #b5441d;
}
