.snugget-root {
  border: 1px solid #5b5b5b;
  background-color: #fff;
  padding: 0.5em;
  margin: 0 auto;
  width:90%;
}

.snugget-heading {
  padding-left: 1em; /* matching p text-indent */
  font-size: 2.3em;
  font-weight: bold;
  color: #b5441d;
}

.snugget-text {
  text-indent: 1.5em;
}

.housing .snugget-text {
  min-height: 62px;
}

.snugget-root .snugget-text {
  min-height: 93px;
}

@media only screen and (max-width: 480px) {
  .housing .snugget-text {
    min-height: 124px;
  }

  .snugget-root .snugget-text {
    min-height: 186px;
  }
}

@media only screen and (max-width: 320px) {
  .housing .snugget-text {
    min-height: 217px;
  }

  .snugget-root {
    min-height: 279px;
  }
}
